<!DOCTYPE html>
<html>

<head>
  <title>Vue</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
</head>

<body>
  <!-- As a heading -->
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">한국 시리즈</span>
  </nav>

  
  <div id="app">

    <div class="container">
      <div class="row">

        <div class="col-lg py-5">
          <ul class="list-group">
            <li class="list-group-item text-center active">
              <h1><i class="fas fa-clipboard-list"></i>
                <br>To Do</h1>
            </li>
            <li class="list-group-item" is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1)"></li>
            
            <li class="list-group-item">
              <div class="form-group my-0">
              <form v-on:submit.prevent="addNewTodo">
                <input class="form-control" v-model="newTodoText" id="new-todo">
              </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-lg py-5">
          <ul class="list-group">
            <li class="list-group-item text-center active">
              <h1><i class="fas fa-cogs"></i>
                <br>Doing</h1>
            </li>
            <li class="list-group-item" is="doing-item"
            v-for="(doing, index) in doings"
            v-bind:key="doing.id"
            v-bind:title="doing.title"
            v-on:remove="doings.splice(index, 1)"></li>

            <li class="list-group-item">
              <div class="form-group my-0">
                  <form v-on:submit.prevent="addNewDoing">
                    <input class="form-control" v-model="newDoingText" id="new-doing">
                  </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-lg py-5">
          <ul class="list-group">
            <li class="list-group-item text-center active">
              <h1><i class="fas fa-check"></i>
                <br>Done</h1>
            </li>
            <li class="list-group-item" is="done-item"
            v-for="(done, index) in dones"
            v-bind:key="done.id"
            v-bind:title="done.title"
            v-on:remove="dones.splice(index, 1)"></li>
            <li class="list-group-item">
              <div class="form-group my-0">
                  <form v-on:submit.prevent="addNewDone">
                    <input class="form-control" v-model="newDoneText" id="new-done">
                  </form>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  <script>
Vue.component('todo-item', {
  template: '\
    <li>\
      {{ title }}\
      <div class="float-right"><button type="button" class="btn btn-sm btn-danger" v-on:click="$emit(\'remove\')"><i class="fas fa-times"></i></button><button type="button" class="btn btn-sm btn-success"><i class="fas fa-arrow-right"></i></button></div>\
    </li>\
  ',
  props: ['title']
})
Vue.component('doing-item', {
  template: '\
    <li>\
      {{ title }}\
      <div class="float-right"><button type="button" class="btn btn-sm btn-danger" v-on:click="$emit(\'remove\')"><i class="fas fa-times"></i></button><button type="button" class="btn btn-sm btn-success"><i class="fas fa-arrow-right"></i></button></div>\
    </li>\
  ',
  props: ['title']
})
Vue.component('done-item', {
  template: '\
    <li>\
      {{ title }}\
      <div class="float-right"><button type="button" class="btn btn-sm btn-danger" v-on:click="$emit(\'remove\')"><i class="fas fa-times"></i></button></div>\
    </li>\
  ',
  props: ['title']
})
var app = new Vue({
    el: '#app',
    data: {
      newTodoText: '',
      newDoingText: '',
      newDoneText: '',
      todos: [
        {
          id: 0,
          title: 'To do exemple',
        }
      ],
      doings: [
        {
          id: 1,
          title: 'Doing exemple',
        }
      ],
      dones: [
        {
          id: 1,
          title: 'Done exemple'
        }
      ],
      nextTodoId: 2,
      nextDoingId: 2,
      nextDoneId: 2
    },
    methods: {
      addNewTodo: function () {
        this.todos.push({
          id: this.nextTodoId++,
          title: this.newTodoText
        })
        this.newTodoText = '' //Perque no es mantingui el que he escrit a la barra
      },
      //El boto verd no funciona, per alguna rao:
      //nextNewTodo: function () {
      //  this.doings.push({
      //    id: this.nextTodoId++,
      //    title: this.newTodoText
      //  })  --JO ho faria aixi pero no funciona
      //},
      addNewDoing: function () {
        this.doings.push({
          id: this.nextDoingId++,
          title: this.newDoingText
        })
        this.newDoingText = ''
      },
      addNewDone: function () {
        this.dones.push({
          id: this.nextDoneId++,
          title: this.newDoneText
        })
        this.newDoneText = ''
      }
    }
})

  </script>
</body>

</html>